@inherits LayoutComponentBase

<div class="page">
    <div class="main-layout">
        <main class="main-content">
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>

@code {
}